table {
  background-color: #D97F30;
}

#pic1 {
  width: 60%;
}

header {
  background-color: #F2DCC2;
}

header h1 {
  color: #D97F30;
}

header h2 {
  color: #D97F30;
}

td, th {
  border: 1px solid #000; /* Adjust the width and color as needed */
  padding: 8px; /* Optional: Add padding for better spacing */
}
